<head>
<div id=header><h1>Welcome</h1></div>
</head>

<body>
<ol>
<div id=intro>“Hello, and welcome to the Dog Selector! If you’re here, you must be thinking about getting a nice furry companion, but feel lost about what breed, specifically, is right for you. Fear not! This very easy to use selector will help you narrow down the list of breeds by asking you a few questions about your living situation as well as what you want in a dog. When you finish, the Selector will show you one or more breeds that fit your criteria, as well as allow you to learn more about these breeds. You will also have an opportunity to share your choice with the rest of the Dog Selector user base.

Press the button below to get started!
<ol>
<br>
<br>
</div>

<center>
<%= link_to("let's do this", new_selection_path) %>
</center>

</body>
