<head>
<center><div id=header><h2>Breeds that fit your criteria: </h2></div></center>
</head>

<body>
<% if @selection.choices.empty? %>
  <h4>Nothing matched your criteria =(  Click your browser's "Back" button to refine your search! </h4>

<% else %>
  <% @selection.choices.each do |choice| %>
    <a><li id="choice"><%= link_to choice.name, "http://www.google.com/search?q=#{choice.name}" %></li></a>
    <br>
  <% end %>
<% end %>
</body>
<br>
<%= button_to "I wanna go again!", root_path, method: "get" %>
